In [1]:
import pandas as pd
import numpy as np

In [2]:
health_data = pd.read_csv("health_data.csv")
health_data.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [8]:
health_data = health_data.drop(columns='RiskLevel')

In [9]:
health_data.dropna(axis=0, inplace=True)

In [13]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   float64
 1   SystolicBP   1014 non-null   float64
 2   DiastolicBP  1014 non-null   float64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   float64
dtypes: float64(6)
memory usage: 47.7 KB
None

In [12]:
health_data['Age'] = health_data['Age'].astype('float64')
health_data['SystolicBP'] = health_data['SystolicBP'].astype('float64')
health_data['DiastolicBP'] = health_data['DiastolicBP'].astype('float64')
health_data['HeartRate'] = health_data['HeartRate'].astype('float64')

In [14]:
print(health_data.describe())

               Age   SystolicBP  DiastolicBP           BS     BodyTemp  \
count  1014.000000  1014.000000  1014.000000  1014.000000  1014.000000
mean     29.871795   113.198225    76.460552     8.725986    98.665089
std      13.474386    18.403913    13.885796     3.293532     1.371384
min      10.000000    70.000000    49.000000     6.000000    98.000000
25%      19.000000   100.000000    65.000000     6.900000    98.000000
50%      26.000000   120.000000    80.000000     7.500000    98.000000
75%      39.000000   120.000000    90.000000     8.000000    98.000000
max      70.000000   160.000000   100.000000    19.000000   103.000000

         HeartRate
count  1014.000000
mean     74.301775
std       8.088702
min       7.000000
25%      70.000000
50%      76.000000
75%      80.000000
max      90.000000