In [2]:
import pandas as pd

df = pd.read_csv("students_with_major_30.csv")

df.head()

   name             major  score
0  Andi  Sistem Informasi     65
1  Budi   Teknik Komputer     75
2  Cici   Teknik Komputer     60
3  Dian       Informatika     78
4   Eko  Sistem Informasi     95

In [3]:
df.groupby("major")["score"].mean().sort_values(ascending=False)

major
Informatika         81.666667
Sistem Informasi    79.500000
Teknik Komputer     76.200000
Name: score, dtype: float64

In [4]:
df["major"].value_counts()

major
Informatika         12
Teknik Komputer     10
Sistem Informasi     8
Name: count, dtype: int64

In [ ]:
avg = df.groupby("major")["score"].mean()

# Ambil jurusan dengan rata-rata tertinggi
max_major = avg.idxmax()
max_value = avg.max()

print("Jurusan dengan nilai rata-rata tertinggi:", max_major)
print("Nilai rata-ratanya:", max_value)

Jurusan dengan nilai rata-rata tertinggi: Informatika
Nilai rata-ratanya: 81.66666666666667